<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
    <div fxFlex="30%">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Data Airpressure
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                    <app-numbers [maximum]=1000 [minimum]=1000 [average]=1000></app-numbers>       
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="70%">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Time Series Airpressure
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <app-linechart [parameter]="Airpressure"></app-linechart>
            </mat-card-content>
        </mat-card>
    </div>
</div>