<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
    <div fxFlex="30%">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Data Temperature
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                    <app-numbers [maximum]=1024 [minimum]=968 [average]=1000></app-numbers>       
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="70%">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Data Data Data
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                    <div>
                            <div style="display: block">
                              <canvas baseChart
                                      [datasets]="barChartData"
                                      [labels]="barChartLabels"
                                      [options]="barChartOptions"
                                      [legend]="barChartLegend"
                                      [chartType]="barChartType">
                              </canvas>
                            </div>
                          </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>