<mat-grid-list cols="2" rowHeight="50px">
        <mat-grid-tile>
            <h3 mat-label>Maximum:</h3>
        </mat-grid-tile>
        <mat-grid-tile>
            <h3 mat-label>{{maximum}}</h3>
        </mat-grid-tile>
        <mat-grid-tile>
            <h3 mat-label>Minimum:</h3>
        </mat-grid-tile>
        <mat-grid-tile>
            <h3 mat-label>{{minimum}}</h3>
        </mat-grid-tile>
        <mat-grid-tile>
            <h3 mat-label>Average:</h3>
        </mat-grid-tile>
        <mat-grid-tile>
            <h3 mat-label>{{average}}</h3>
        </mat-grid-tile>
</mat-grid-list>             