<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
    <div fxFlex="30%">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Data Humidity
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
               <app-numbers [maximum]=95.0 [minimum]=66.0 [average]=73.2></app-numbers>       
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="70%">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Data Data Data
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <app-linechart [parameter]="Humidity"></app-linechart>
            </mat-card-content>
        </mat-card>
    </div>
</div>